server:
  port: 9090
payment-status:
  name: payment-service
  payment-status.url: http://localhost:9090/mock-credit-card

mock:
  credit-card-service:
    enabled: true
spring:

  application:
    name: payment-service

  # Database Configuration
  datasource:
    url: jdbc:h2:mem:creditCardDB;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password: sa

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    root: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId:-}] %-5level %logger{36} - %msg%n"
