
server:
  port: 8080

spring:
  profiles:
    active: dev

  application:
    name: hotel-reservation-service

  # Database Configuration
  datasource:
    url: jdbc:h2:mem:hoteldb
    driver-class-name: org.h2.Driver
    username: sa
    password: sa

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  # Security Configuration
jwt:
  secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 900000  # 15 mins in milliseconds

  # Kafka Configuration
  kafka:
    enabled: false  # Set to true when Kafka server is available
    bootstrap-servers: localhost:9092 #Provide your Kafka server address here
    topic:
      bank-transfer-payments: bank-transfer-payments-topic
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
    consumer:
      group-id: hotel-reservation-consumer
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      enable-auto-commit: false
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: com.reservation.hotel.dto.BankTransferPaymentEvent
    listener:
      ack-mode: record


# External Services
services:
  creditcard:
    name: credit-card-payment-service
    base-url: http://localhost:8080/mock-credit-card


# Scheduler Configuration
scheduler:
  reservation-cancellation:
    enabled: true
    cron: "0 0 0 * * *"  # Daily at midnight

# API Documentation
springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
    doc-expansion: none
  show-actuator: false

# Actuator / Monitoring
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always

# Logging Configuration
logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.kafka: INFO
    feign: DEBUG
    com.reservation.hotel: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{traceId:-}] %-5level %logger{36} - %msg%n"

